#photoModeContainer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  pointer-events: none;
}

#flash {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 10;
  opacity: 0;
  transition: 0.5s;
}

.flash #flash {
  opacity: 1;
  transition: 0s;
  pointer-events: auto;
}

#photoModeImage {
  position: absolute;
  max-width: 65%;
  max-height: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 0px 5px white;
  border-radius: 2vmax;
  opacity: 0;
  transition: 0.5s;
}

.photo #photoModeImage {
  opacity: 1;
  transition: 0s;
  pointer-events: auto;
}

#shutterButton, #closeButton {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  background-color: white;
  bottom: 2vmax;
  border-radius: 7.5vmin;
  left: 50%;
  transform: translateX(-50%);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: auto;
}

#shutterButton {
  background-image: url('camera.png');
}

.photo #shutterButton {
  display: none;
}

#closeButton {
  background-image: url('close.png');
  display: none;
}

.photo #closeButton {
  display: block;
}

#infoBanner {
  position: fixed;
  background-color: #87d2d3;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  z-index: 999;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#infoBanner a {
  color: black;
  text-decoration-style: wavy;
}

#infoBannerBtn {
  border: 2px solid black;
  display: block;
  padding: 15px 10px;
  background-color: transparent;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
